@charset "UTF-8";

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #063d1e;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 100px;
    background-color: var(--cor5);
}

header div#logo {
    padding: 20px;
}

header a {
    font: small-caps bolder 3em Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.466);
    text-decoration: underline;
}

nav {
    padding: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.438);
}

nav a {
    padding: 5px;
    text-decoration: none;
    color: rgb(65, 65, 65);
}

nav a:hover {
    color: black;
}

main {
    max-width: 700px;
    margin: 30px auto;
}

main h1 {
    margin-bottom: 15px;
}

main p {
    font-size: 1.1em;
    line-height: 1.4em;
    text-indent: 20px;
    text-align: justify;
}

main div#conteiner {
    overflow-x: auto;
}

main table {
    border-collapse: collapse;
    margin-top: 20px;
}

main thead {
    background-color: var(--cor5);
    color: white;
}

main tr:nth-child(2n) {
    background-color: var(--cor1);
}

main th,td {
    border: 1px solid black;
    padding: 10px;
}

main p#descrtab {
    text-indent: 0px;
    color: rgb(109, 109, 109);
    font-size: 0.9em;
}

main h2 {
    padding: 20px 0px 10px 0px;
}

main img {
    width: 50%;
    margin-top: 20px;
}